In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

%matplotlib inline

In [2]:
df = pd.read_csv('Fitness_dataset.csv')

In [3]:
#rows, columns
df.shape

(96, 7)

In [4]:
#Info about each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             96 non-null     object
 1   step_count       96 non-null     int64
 2   mood             96 non-null     int64
 3   calories_burned  96 non-null     int64
 4   hours_of_sleep   96 non-null     int64
 5   bool_of_active   96 non-null     int64
 6   weight_kg        96 non-null     int64
dtypes: int64(6), object(1)
memory usage: 5.4+ KB

In [5]:
#statistic description for numerical columns
df.describe()

,step_count,mood,calories_burned,hours_of_sleep,bool_of_active,weight_kg
count,96.000000,96.000000,96.000000,96.00000,96.000000,96.000000
mean,2935.937500,211.458333,93.447917,5.21875,218.750000,64.281250
std,2143.384573,84.442184,71.601951,1.51625,249.341237,0.627495
min,25.000000,100.000000,0.000000,2.00000,0.000000,64.000000
25%,741.000000,100.000000,21.750000,4.00000,0.000000,64.000000
50%,2987.500000,200.000000,96.000000,5.00000,0.000000,64.000000
75%,4546.250000,300.000000,149.250000,6.00000,500.000000,64.000000
max,7422.000000,300.000000,243.000000,9.00000,500.000000,66.000000

In [6]:
#Checking if there is a  missing values
total = df.isnull().sum().sort_values(ascending=False)
total

weight_kg          0
bool_of_active     0
hours_of_sleep     0
calories_burned    0
mood               0
step_count         0
date               0
dtype: int64

In [7]:
#find if theres a duplication rows
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
91    False
92    False
93    False
94    False
95    False
Length: 96, dtype: bool

In [8]:
#find sum of the duplication
df.duplicated().sum()

0

In [9]:
#delete Date column
df.drop(['date'], axis=1,inplace=True)

In [10]:
#Ensure that the column is deleted
#before (96, 7)
df.shape

(96, 6)

In [11]:
df.to_csv('updata_dataset.csv')